<a href="https://colab.research.google.com/github/a01750661-gif/TI3001C.101/blob/Actividades/Clase3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ESTRUCTURA DE DATOS EN PYTHON

In [6]:
frase = "Analítica de Datos"

print(frase.upper())
print(frase.split())
print(frase[0:9])

ANALÍTICA DE DATOS
['Analítica', 'de', 'Datos']
Analítica

In [7]:
numeros = [5,2,9]
numeros.append(4)
numeros.sort()
print(numeros)

[2, 4, 5, 9]

In [10]:
nombres = ["Andres", "Lalo", "Ditto", "Liz", "Victor"]
nombres.sort()
print(nombres)

['Andres', 'Ditto', 'Lalo', 'Liz', 'Victor']

In [11]:
coordenadas = (10.5, 20.3)
x, y = coordenadas
print(f"x={x}, y={y}")

x=10.5, y=20.3

In [5]:
edades = {"Ana":25, "Luis":30}
edades ["Marta"] = 28
print(edades)

{'Ana': 25, 'Luis': 30, 'Marta': 28}

In [6]:
#Con llaves
numeros = {1, 2, 3}

#Con función set()
vocales = set(["a", "e", "i", "o", "u"])