<a href="https://colab.research.google.com/github/a01750661-gif/TI3001C.101/blob/Actividades/Clase4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Introducción a Pandas**

### Creación de una serie:

In [1]:
import pandas as pd

colores = pd.Series(["rojo","amarillo","azul","verde","morado"])
print(colores)

0        rojo
1    amarillo
2        azul
3       verde
4      morado
dtype: object

### Estructura de DataFrame

In [2]:
materias = pd.Series({"Matemáticas":60,"Física":100,"Química":78})
print(materias)

Matemáticas     60
Física         100
Química         78
dtype: int64

In [5]:
numeros = pd.Series([1,2,3,4,5,6,7,8,9])
print(numeros)
numeros.size
numeros.index
numeros.dtype

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

RangeIndex(start=0, stop=9, step=1)

In [6]:
colores[2:4]

2     azul
3    verde
dtype: object

In [7]:
materias[["Física","Química"]]

Física     100
Química     78
dtype: int64

### Operaciones

In [9]:
print(numeros*2)

0     2
1     4
2     6
3     8
4    10
5    12
6    14
7    16
8    18
dtype: int64

In [13]:
suma = numeros.sum()
print(suma)
maximo = numeros.max()
print(maximo)
desv = numeros.std()
print(desv)
desc = numeros.describe()
print(desc)

45
9
2.7386127875258306
count    9.000000
mean     5.000000
std      2.738613
min      1.000000
25%      3.000000
50%      5.000000
75%      7.000000
max      9.000000
dtype: float64

In [18]:
serie = pd.Series({"Programación":80,"Economía":60,"Historia":50,"Álgebra":100})
print(serie[serie>60],"\n")
print(serie.sort_values(),"\n")
print(serie.sort_index(ascending = False),"\n")

Programación     80
Álgebra         100
dtype: int64

Historia         50
Economía         60
Programación     80
Álgebra         100
dtype: int64

Economía         60
Historia         50
Programación     80
Álgebra         100
dtype: int64

In [19]:
dato = 5
s = pd.Series(dato, index=[0,1,2,3,4,5])
print(s)
# Serie con índice definido

0    5
1    5
2    5
3    5
4    5
5    5
dtype: int64

In [20]:
data_list = ["Messi", "Ronaldo", "Benzema", "Chicharito"]
Equipos = ["PSG", "Manchester", "RealMadrid", "Chivas"]
football = pd.Series(index=Equipos,data=data_list)
print(football)

PSG                Messi
Manchester       Ronaldo
RealMadrid       Benzema
Chivas        Chicharito
dtype: object

In [22]:
data = {"Nombre":["Maria","Jose","David","Ivan"],"Carrera":["ITC", "IIS", "IMD", "LAF"], "Email":["m@gmail.com","j@gmail.com","d@gmail.com","i@gmail.com"]}
estudiantes = pd.DataFrame(data)
print(estudiantes)

  Nombre Carrera        Email
0  Maria     ITC  m@gmail.com
1   Jose     IIS  j@gmail.com
2  David     IMD  d@gmail.com
3   Ivan     LAF  i@gmail.com

### Fechas y tiempo